[submodule "quickstart/themes/hugo-PaperMod"]
	path = quickstart/themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "quickstart/hugo-PaperMod"]
	path = quickstart/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
